@import '../scss/mixin.scss';

#article {
  overflow-y: auto;
  overflow-x: hidden;
  header {
    height: 250px;
    position: relative;
    .article-title-area {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      .article-title {
        font-size: 2.5rem;
      }
      .date {
        font-size: 1.5rem;
      }
    }
  }
  .article-main {
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    width: 980px;
    height: auto;
    color: $white;
    h2 {
      margin: 30px 0 20px 0;
      border-left: 8px solid $accent_color;
      padding: 5px 0 5px 10px;
      background-color: $sub_color;
      font-size: 1.8rem;
      &:first-child {
        margin-top: 0;
      }
    }
    a {
      color: $twitter_color;
      font-weight: bold;
      text-decoration: underline;
      transition: 0.4s;
      &:hover {
        color: $sub_color;
      }
    }
    p {
      padding: 5px 0 5px 20px;
      line-height: 1.5rem;
      font-size: 1.1rem;
    }
    img {
      margin-top: 10px;
      border-radius: 10px;
      max-width: 80%;
      box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.3);
    }
    strong {
      color: $qiita_color;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .gatsby-highlight {
      margin-bottom: 20px;
    }
    pre {
      margin-left: 20px;
      border-radius: 15px;
      box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3);
    }
    .twitter-tweet {
      margin-left: 20px;
    }
    blockquote {
      margin: 5px 0 5px 40px;
      border-left: 5px solid #8d8d8d;
    }
    iframe {
      margin-left: 40px;
      width: 480px;
      height: 270px;
    }
    ul {
      margin-left: 10px;
      li {
        list-style-type: disc;
        padding: 3px 0;
        p {
          padding: 0;
        }
      }
    }
    ol {
      margin-left: 10px;
      li {
        list-style-type: decimal;
        padding: 3px 0 3px 5px;
        p {
          padding: 0;
        }
      }
    }
    table {
      margin: 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-spacing: 0;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
      th {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
      }
      td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
      }
      tr {
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .tag-area {
    margin: 0 auto 15px auto;
    width: 980px;
    height: auto;
    display: flex;
    justify-content: center;
    span {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  @include sp {
    header {
      height: 150px;
      .article-title-area {
        padding: 0 10px;
        .article-title {
          font-size: 1.7rem;
        }
      }
    }
    .article-main {
      width: 100%;
      padding: 15px 10px;
      h2 {
        margin: 15px 0 10px 0;
      }
      iframe {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
      }
      p {
        padding-left: 10px;
      }
      ul {
        margin: 0;
        padding-left: 30px;
      }
      img {
        max-width: 100%;
      }
      pre {
        margin-left: 10px;
      }
      .twitter-tweet {
        margin-left: 10px;
        width: calc(100% - 10px) !important;
        min-width: auto !important;
      }
    }
  }
}
