@import '../scss/colors.scss';

:export {
  white: $white;
}

#article {
  overflow-y: auto;
  overflow-x: hidden;
  header {
    height: 250px;
    position: relative;
    .article-title-area {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      .article-title {
        font-size: 2.5rem;
      }
      .date {
        font-size: 1.5rem;
      }
    }
  }
  #menu-bar-bg {
    background-color: $accent_color;
    height: auto;
    #menu-bar {
      margin: 0 auto;
      padding: 5px;
      display: flex;
      justify-content: space-around;
      width: 980px;
      color: $white;
      text-align: center;
      font-weight: bold;
      line-height: 1.5rem;
      a {
        color: $white;
      }
      .menu-bar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        cursor: pointer;
        svg {
          height: 25px;
        }
      }
    }
  }
  .article-main {
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    width: 980px;
    height: auto;
    color: $white;
    h2 {
      margin: 30px 0 20px 0;
      border-left: 8px solid $accent_color;
      padding: 5px 0 5px 10px;
      background-color: $sub_color;
      font-size: 1.8rem;
      &:first-child {
        margin-top: 0;
      }
    }
    a {
      color: $twitter_color;
      font-weight: bold;
      text-decoration: underline;
      transition: .4s;
      &:hover {
        color: $sub_color;
      }
    }
    p {
      padding: 5px 0 5px 20px;
      line-height: 1.5rem;
      font-size: 1.1rem;
    }
    img {
      max-width: 80%;
    }
    strong {
      color: $qiita_color;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .gatsby-highlight {
      margin-bottom: 20px;
    }
    pre {
      margin-left: 20px;
    }
    .twitter-tweet {
      margin-left: 20px;
    }
  }
  .tag-area {
    margin: 0 auto;
    padding: 0 10px 10px;
    width: 980px;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
