@import 'mixin.scss';

#menu-bar-bg {
  background-color: $accent_color;
  height: auto;
  #menu-bar {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 980px;
    color: $white;
    text-align: center;
    font-weight: bold;
    line-height: 1.5rem;
    a {
      color: $white;
    }
    .menu-bar-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      cursor: pointer;
      svg {
        height: 25px;
        fill: $white;
      }
    }
  }
  @include sp {
    #menu-bar {
      width: 100%;
      .menu-bar-item {
        font-size: 1rem;
        svg {
          height: 17px;
        }
      }
    }
  }
}
