@import './mixin.scss';
@import './reset.scss';

::-webkit-scrollbar {
  width: 10px;
  background: $scroll_bar_background_color;
  opacity: 0.1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: $accent_color;
}

#default-layout {
  position: relative;
  padding: 20px 20px 0 20px;
  main {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    background-color: $main_color;
  }
}

@include sp {
  html {
    font-size: 12px;
  }
}
