@import './mixin.scss';

.reverse {
  transform: rotateX(180deg);
}

footer {
  position: relative;
  width: 100%;
  height: 225px;
  font-size: 1.2rem;
  .toggle-button {
    position: absolute;
    top: $footer_toggle_button_top;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $footer_toggle_button_size;
    height: $footer_toggle_button_size;
    background-color: $accent_color;
    z-index: 100;
    transition: 1s;
    will-change: transform;
    &:hover {
      cursor: pointer;
    }
    svg {
      width: 40px;
      height: 40px;
      color: $white;
    }
  }
  #footer-background {
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    height: calc(
      100% - #{$footer_toggle_button_top} - #{$footer_toggle_button_size / 2}
    );
    background-color: $main_color;
    #footer-container {
      position: relative;
      display: flex;
      padding: 37px 35px 10px 35px;
      .sub-title {
        color: $white;
        height: 20px;
        font-weight: bold;
      }
    }
  }
}
