@import './mixin.scss';

::placeholder {
  font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', 'Kosugi Maru';
  color: #f5f7fa;
}

$header_height_pc: 200px;
$header_height_sp: 100px;
$header_margin_horizontal: 15px;
$on_scroll_transition: 1s;
$scroll_translate_y: 100px;

@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expansionAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#home {
  header {
    height: $header_height_pc;
    transform-origin: top center;
    will-change: transform;
    transition: $on_scroll_transition;
    cursor: pointer;
    img {
      object-position: center 55%;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: $header_margin_horizontal auto;
      max-width: 90%;
      height: calc(#{$header_height_pc} - #{$header_margin_horizontal} * 2);
      will-change: transform;
      transition: $on_scroll_transition;
    }
  }
  #search-area {
    margin: 10px auto 0;
    width: 40%;
    height: 50px;
    will-change: transform;
    transition: $on_scroll_transition;
    input {
      box-sizing: border-box;
      outline: none;
      border: 1px solid #f5f7fa;
      border-radius: 5px;
      padding: 0 10px;
      width: 100%;
      height: 100%;
      background-color: #5f5e5e;
      font-size: 1.3rem;
      color: #f5f7fa;
      &:hover {
        outline: none;
      }
    }
    svg {
      box-sizing: border-box;
      padding: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      color: #ca3e47;
    }
  }
  #article-area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    height: calc(100% - 100px - 90px);
    will-change: transform;
    transition: $on_scroll_transition;
    overflow-y: scroll;
    .not-found-area {
      font-size: 1.2rem;
      color: $white;
      text-align: center;
      line-height: 2.2rem;
      opacity: 0;
      animation: showAnimation 1s 2s;
      animation-fill-mode: forwards;
    }
  }
  &.on-scroll {
    header {
      transform: translateY(calc(-1 * #{$scroll_translate_y}));
      svg {
        transform: scale(0.5) translateY($scroll_translate_y);
      }
    }
    #search-area {
      transform: translateY(calc(-1 * #{$scroll_translate_y}));
    }
    #article-area {
      transform: translateY(calc(-1 * #{$scroll_translate_y}));
    }
  }
  @include sp {
    header {
      height: $header_height_sp;
      svg {
        height: calc(#{$header_height_sp} - #{$header_margin_horizontal} * 2);
      }
    }
    #search-area {
      width: 80%;
    }
    &.on-scroll {
      header {
        transform: translate(0);
        svg {
          transform: scale(1) translate(0);
        }
      }
      #search-area {
        transform: translate(0);
      }
      #article-area {
        transform: translate(0);
      }
    }
  }
}
