@import './colors.scss';

::placeholder {
  font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', 'Kosugi Maru';
  color: #f5f7fa;
}

$on_scroll_transition: 1s;

@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expansionAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#home {
  header {
    height: 200px;
    transform-origin: top center;
    will-change: transform;
    transition: $on_scroll_transition;
    cursor: pointer;
    img {
      object-position: center 55%;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 15px auto;
      height: calc(200px - 30px);
      will-change: transform;
      transition: $on_scroll_transition;
    }
  }
  #search-area {
    margin: 10px auto 0;
    width: 40%;
    height: 50px;
    will-change: transform;
    transition: $on_scroll_transition;
    input {
      box-sizing: border-box;
      outline: none;
      border: 1px solid #f5f7fa;
      border-radius: 5px;
      padding: 0 10px;
      width: 100%;
      height: 100%;
      background-color: #5f5e5e;
      font-size: 1.3rem;
      color: #f5f7fa;
      &:hover {
        outline: none;
      }
    }
    svg {
      box-sizing: border-box;
      padding: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      color: #ca3e47;
    }
  }
  #article-area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    height: calc(100% - 100px - 90px);
    will-change: transform;
    transition: $on_scroll_transition;
    overflow-y: scroll;
    .not-found-area {
      font-size: 1.2rem;
      color: $white;
      text-align: center;
      line-height: 2.2rem;
    }
    .article-bg {
      flex-basis: 33%;
      height: 300px;
      display: flex;
      justify-content: center;
      a {
        width: 300px;
      }
    }
    article {
      border-radius: 15px;
      width: 300px;
      height: 250px;
      position: relative;
      box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.3);
      transition: 0.2s;
      opacity: 0;
      transform: scale(0);
      will-change: opacity transform;
      background-color: #f5f7fa;
      &:hover {
        box-shadow: 8px 16px 8px 4px rgba(0, 0, 0, 0.5);
      }
      &.show-animation {
        animation: showAnimation 1s, expansionAnimation 1s;
        animation-fill-mode: forwards;
      }
      .gatsby-image-wrapper {
        width: 100%;
        height: 100px;
        border-radius: 15px 15px 0 0;
      }
      h1 {
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        height: calc(100% - 100px);
        font-size: 22px;
        text-align: center;
      }
    }
    .article-tag {
      width: 80px;
      height: 30px;
      position: absolute;
      top: 85px;
      left: 0;
      background-color: #ca3e47;
      color: #f5f7fa;
      line-height: 30px;
      font-size: 0.9rem;
      text-align: center;
    }
    .like-icon-area {
      width: auto;
      height: auto;
      position: absolute;
      bottom: 5px;
      right: 10px;
      z-index: 100;
      svg {
        height: 30px;
        color: #ca3e47;
      }
    }
  }
  &.on-scroll {
    header {
      transform: translateY(-100px);
      svg {
        transform: scale(0.5) translateY(100px);
      }
    }
    #search-area {
      transform: translateY(-100px);
    }
    #article-area {
      transform: translateY(-100px);
    }
  }
}
