$main_color: #5f5e5e;
$sub_color: #3d3d3d;
$accent_color: #ca3e47;
$white: #f5f7fa;
$twitter_color: #1da0f1;
$qiita_color: #58ba0c;
$note_color: #41c9b4;
$scroll_bar_background_color: rgba(202, 62, 62, 0.2);
$scroll_bar_color: rgba(61, 61, 61, 0.9);

$footer_toggle_button_top: 15px;
$footer_toggle_button_size: 70px;
$profile_area_size: 250px;
$profile_icon_size: 100px;
$sns_icon_size: 20px;
