@import './mixin.scss';

#profile-area {
  display: flex;
  padding: $footer_contents_basic_padding;
  width: $profile_area_size;
  height: $footer_contents_basic_height;
  #profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $profile_icon_size;
    color: $white;
    .user-icon {
      width: $profile_icon_size;
      height: $profile_icon_size;
      img {
        border-radius: 15px;
      }
    }
  }
  .sns-area {
    margin-left: 30px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      li {
        display: flex;
        span {
          margin-left: 8px;
          height: 25px;
        }
        svg {
          height: 25px;
        }
        &.twitter {
          svg {
            width: $sns_icon_size;
            fill: $twitter_color;
          }
          span {
            color: $twitter_color;
          }
        }
        &.qiita {
          div {
            width: $sns_icon_size;
          }
          span {
            color: $qiita_color;
          }
        }
        &.note {
          svg {
            width: $sns_icon_size;
          }
          span {
            color: #41c9b4;
          }
        }
        &.mail {
          svg {
            width: $sns_icon_size;
            fill: $white;
          }
          span {
            color: $white;
          }
        }
      }
    }
  }
  @include tablet {
    margin-top: $footer_contents_basic_margin_top;
  }
}
