@import './colors.scss';

$profile_area_size: 250px;
$profile_icon_size: 100px;
$sns_icon_size: 20px;

#profile-area {
  display: flex;
  width: $profile_area_size;
  #profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $profile_icon_size;
    color: $white;
    .user-icon {
      width: $profile_icon_size;
      height: $profile_icon_size;
      img {
        border-radius: 15px;
      }
    }
  }
  .sns-area {
    margin-left: 30px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      li {
        display: flex;
        span {
          margin-left: 8px;
          height: 25px;
        }
        svg {
          height: 25px;
        }
        &.twitter span {
          color: $twitter_color;
        }
        &.qiita {
          div {
            width: $sns_icon_size;
            height: $sns_icon_size;
          }
          span {
            color: $qiita_color;
          }
        }
        &.note span {
          color: #41c9b4;
        }
        &.mail span {
          color: $white;
        }
      }
    }
  }
}
