@import 'mixin.scss';

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $sub_color;
  font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', 'Kosugi Maru';
  font-size: 14px;
  overflow: hidden;
}

main {
  border-radius: 15px;
  height: calc(100% - 87px);
  transition: 1s;
  backface-visibility: hidden;
  will-change: height;
  &.footer-open {
    height: calc(100% - #{$footer_open_height_pc});
  }
  @include tablet {
    &.footer-open {
      height: calc(100% - #{$footer_open_height_sp});
    }
  }
}

div {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

span {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  height: auto;
}
